/*
!/.bash_logout
!/.bashrc
!/.ctags
!/.git[a-z]*
/.gitusers
!/.gvimrc
!/.profile
!/.vimperatorrc
!/.vimrc
!/.vw_logconf
!/.XCompose
!/.Xdefaults
!/.xmobarrc
!/.Xmodmap
!/.xsession
!/.zlogin
!/.zlogout
!/.zprofile
!/.zshenv
!/.zshrc
!/.zsh
!/.gtkrc-2.0
!/.gtkrc.mine
!/.msmtprc
!/.terminfo

!/.ssh/
/.ssh/*
!/.ssh/config
!/.ssh/*.pub
!/.ssh/authorized_keys
!/.ssh/known_hosts

!/.vim/
/.vim/tags/*
!/.vim/tags/Makefile
.vim/tmp/*

!/.xmonad/
/.xmonad/*
!/.xmonad/xmonad.hs

!/.gnupg/
/.gnupg/*
!/.gnupg/gpg.conf

!/bin/
/bin/*
!/bin/hooks

.svn
CVS
