[user]
    name = Mike Lundy
    email = mike@fluffypenguin.org
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[filter "remove-last-seen"]
    clean=bin/hooks/filter-last-seen
[filter "remove-password"]
    clean=bin/hooks/filter-password
[filter "clean-pidgin-blist"]
    clean=bin/hooks/clean-pidgin-blist
[github]
    user = novas0x2a
[sendemail]
    suppressfrom = true
[merge]
	tool = vimdiff
[svn]
    rmdir = true
[rerere]
    enabled = true
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    check = !"f() { if test "$(cd $(git rev-parse --git-dir) && pwd)" = "$HOME/.git"; then echo "Cowardly refusing to nuke your homedir"; else echo git clean $*; fi; }; f"
    s = status
    ap = add -p
    ri = rebase --interactive
    svn-push-cherry = !"f() { set -x; safe=__safe-$RANDOM; git svn rebase && git checkout -b $safe $1 && git svn dcommit && git checkout - && git svn rebase && git branch -d $safe; set +x; }; f"
