/*
!/.bash_logout
!/.bashrc
!/.ctags
!/.git[a-z]*
/.gitusers
!/.gtkrc-2.0
!/.gtkrc.mine
!/.gvimrc
!/.msmtprc
!/.profile
!/.pylintrc
!/.terminfo
!/.vimperatorrc
!/.vimrc
!/.vw_logconf
!/.XCompose
!/.Xdefaults
!/.xmobarrc
!/.Xmodmap
!/.xsession
!/.zlogin
!/.zlogout
!/.zprofile
!/.zsh
!/.zshenv
!/.zshrc


!/.config
/.config/*
!/.config/autostart
!/.config/ipython/profile_default/ipython_config.py

!/.ssh/
/.ssh/*
!/.ssh/config
!/.ssh/*.pub
!/.ssh/authorized_keys

!/.vim/
/.vim/tags/*
!/.vim/tags/Makefile
.vim/tmp/*
.vim/spell/*.spl

!/.xmonad/
/.xmonad/*
!/.xmonad/xmonad.hs

!/.gnupg/
/.gnupg/*
!/.gnupg/gpg.conf

!/bin/

!/local/
/local/*
!/local/vendor/

!/.screenrc

.svn
CVS
