# The format of this file isn't really documented; just use --generate-rcfile

[messages control]
# C0103: Invalid name
# C0301: Line too long
# C0302: Too many lines in module
# C0111: Don't require docstrings on every method
# I0011: don't warn about locally-disabled warnings.
# W0142: *args and **kwargs are fine.
# W0511: TODOs/FIXME/XXX in code comments are fine.
# W0703: remove silly warn about catch-all exceptions
# R0201: "Method could be a function" -- yeah, but it's not.
# R0801: Similarity check almost always finds imports only
# R090*: "Too many X" checks are dumb
# R091*: "Too many X" checks are dumb
# R0921: Abstract class not referenced
# R0923: Interface not implemented
# R0924: "Badly-Implemented Container" is badly implemented.
# R0401: Cyclic import, impossible to disable locally
disable=C0103,C0111,C0301,C0302,I0011,W0142,W0511,W0703,R0201,R0801,R0901,R0902,R0903,R0904,R0911,R0912,R0913,R0914,R0915,R0921,R0923,R0924,R0401

[basic]
bad-functions=apply,input

[classes]
ignore-iface-methods=setUp

[design]
max-args=6
max-public-methods=100
min-public-methods=0

[format]
max-line-length=120

[imports]
deprecated-modules=regsub,TERMIOS,Bastion,rexec

[reports]
output-format=text
include-ids=yes
reports=no

[typecheck]
ignored-classes=sha1, md5, Popen, Request, SplitResult, execute

[variables]
additional-builtins=_
