[Desktop Entry]
Type=Application
Version=1.0
Name=pb-for-desktop
Comment=pb-for-desktop Startup Script
Exec="/opt/PB for Desktop/pb-for-desktop"
StartupNotify=false
Terminal=false
Hidden=true

