[Desktop Entry]
Type=Application
Version=1.0
Name=rambox
Comment=ramboxstartup script
Exec=/opt/Rambox/rambox
StartupNotify=false
Terminal=false
Hidden=true

