[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=xmonad
Comment=
Exec=xmonad
NoDisplay=true
X-GNOME-WMName=XMonad
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
