[Main]
Timeout=5000
Timeout_Seconds=10
Use_Timeout_Seconds=true
Use_Click_Command=false
Click_Command=xfce4-taskmanager

[SL_Cpu]
Enabled=true
Use_Label=true
Color=rgb(0,0,192)
Text=C

[SL_Mem]
Enabled=true
Use_Label=true
Color=rgb(0,192,0)
Text=M

[SL_Swap]
Enabled=true
Use_Label=true
Color=rgb(240,240,0)
Text=S

[SL_Uptime]
Enabled=false

